# Archivos de compilación de Java / Maven
target/
*.class

# Archivos de configuración de IDEs
.classpath
.project
.settings/
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db
